# -*- mode: gitignore; -*-
*~
\#*\#
.\#*

TAGS
.TAGS
!TAGS/
tags
.tags
!tags/
gtags.files
GTAGS
GRTAGS
GPATH
GSYMS
cscope.files
cscope.out
cscope.in.out
cscope.po.out

*.o
*.a
*.elf
*.out
*.lst
*.map
*.sym
*.dis

*.bin
*.img
PathDefs
*.irx
*.erx
