root = false

[app.cmd]
tab_width       = 8
indent_size     = tab
indent_style    = tab
end_of_line     = lf

[crt0.s]
tab_width       = 8
indent_size     = tab
indent_style    = tab
end_of_line     = lf
